html, body {
    margin: 0;
}

body {
    font-family: 'Gaegu', cursive;
    font-size: 18px;
}

/* h1,h2,h3,h4,h5,h6 { */

.title {
    font-weight: 700;
    font-size: 1.2em;
    padding: 7px;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: 0;
    border: 0;
}

a,a > span {
    position: relative;
    text-decoration: none;
    line-height: 22px;
    transition: color .3s ease-in-out;
}

a:before,
a:after,
a > span:before,
a > span:after {
    content: '';
    position: absolute;
    transition: transform .3s ease-in-out;
}

form {
    width: 100%;
    text-align: center;
}

input {
    font-family: 'Gaegu', cursive;
    font-size: 1.3rem;
    background: none;
    transition: border 0.3s ease;
    caret-color: transparent;
    text-align: center;
    border: 0;
    width: 50%;
}

.container { 
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    min-height: 100vh;
} 

.inner {
    width: 100%;
    max-width: 500px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    position: relative;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-around;
}

.cat {
    text-align: center;
    margin: 0 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 0;
}

li {
    line-height: 20px;
    padding: 0;
    border: 0;
}

.effect {
    padding-top: 0;
}

.effect:before {
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
}

.effect:hover:before {
    transform: scaleX(0.85);
}

.invert {
    filter: invert(100%);
}

@media only all and (orientation: portrait) {
    body {
        font-size: 0.9em;
    }

    .conteiner, footer {
        witdh: 100%;
    }

    .cat {
        margin: 0;
        padding: 0;
    }

    .cat:nth-child(3) {
        display: none;
    }

    .esquerda, .direita { margin: 0 10px; }
}