body {
    font-family: 'Gaegu', cursive;
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gaegu', cursive;
    font-weight: 700;
    padding: 6px;
    margin: 0;
}

.w3-input {
    background: none;
    transition: border 0.3s ease;
    caret-color: transparent;
}

textarea:focus,
input:focus {
    outline: 0;
    border: 0;
}

.w3-ul li {
    line-height: 20px;
    padding: 0;
    border: 0;
}

a,
a > span {
    position: relative;
    text-decoration: none;
    line-height: 22px;
    transition: color .3s ease-in-out;
}

a:hover {
    color: #eee;
}

a:before,
a:after,
a > span:before,
a > span:after {
    content: '';
    position: absolute;
    transition: transform .3s ease-in-out;
}

.effect {
    padding-top: 0;
}

.effect:before {
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #4d79ff;
    transform: scaleX(0);
}
.effect:hover:before {
    transform: scaleX(0.85);
}

img {
    display: block;
    margin-bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav {
      display: flex;
      justify-content: flex-end;
      padding: 0;
}