:root {
  --primary-color: #666;
  --secondary-color: #222;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #111;
  --border-color: #ddd;
  --shadow-color: #888;
  --input-color: #4d79ff;
}

[data-theme="dark"] {
  --primary-color: #999;
  --secondary-color: #eee;
  --font-color: #ccc;
  --bg-color: #111;
  --heading-color: #eee;
  --border-color: #222;
  --shadow-color: #222;
  --input-color: #ff79c6;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

input {
    color: var(--font-color);
    border-bottom: 4px solid var(--border-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

textarea:focus,
input:focus {
    border-bottom: 4px solid var(--input-color);
}

::placeholder {
    color: #999;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

a,a>span {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.effect:before {
    background: var(--input-color);
}