:root {
  --primary-color: #666;
  --secondary-color: #222;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #111;
  --border-color: #ddd;
  --shadow-color: #888;
  --input-color: #4d79ff;
}

[data-theme="dark"] {
  --primary-color: #999;
  --secondary-color: #eee;
  --font-color: #ccc;
  --bg-color: #111;
  --heading-color: #eee;
  --border-color: #222;
  --shadow-color: #222;
  --input-color: #4d79ff;
}

body {
    font-family: 'Gaegu', cursive;
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--font-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gaegu', cursive;
    color: var(--heading-color);
    font-weight: 700;
    padding: 6px;
    margin: 0;
}

.w3-input {
    color: var(--font-color);
    background: none;
    border-bottom: 4px solid var(--border-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
    transition: border 0.3s ease;
}

textarea:focus,
input:focus {
    outline: 0;
    border: 0;
    border-bottom: 4px solid #4d79ff;
}

::placeholder {
    color: #999;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.w3-ul li {
    line-height: 20px;
    padding: 0;
    border: 0;
}

a,a>span {
    position: relative;
    color: var(--primary-color);
    text-decoration: none;
    line-height: 22px;
    transition: color .3s ease-in-out;
}

a:hover {
    color: var(--secondary-color);
}

a:before,
a:after,
a>span:before,
a>span:after {
    content: '';
    position: absolute;
    transition: transform .3s ease-in-out;
}

.effect {
    padding-top: 0;
}

.effect:before {
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #4d79ff;
    transform: scaleX(0);
}

.effect:hover:before {
    transform: scaleX(0.85);
}

#logo {
    display: block;
    margin-bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.esquerda {
  display: flex;
  justify-content: flex-start;
}

.esquerda {
  display: flex;
  justify-content: flex-end;
}

.icon-container {
    padding: 8px;
    margin-right: 10px;
}

.icon-container img {
    width: 34px;
    height: 34px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.invert {
    filter: invert(100%);
}