@font-face {
    font-family: 'Mija';
    src: url('../fonts/mija/mija.woff2') format('woff2'),
        url('../fonts/mija/mija.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

