@import url('fonts.css');

* { margin: 0; box-sizing: border-box; }

body, html {
  font-family: 'Mija', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* height: 100%; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: #fff;
  /* border: 10px solid red; */
  min-height: 100vh; /* Altura total da viewport */
}

body {
  width: 100%;
}

header, .blocks, .search-container {
  width: 100%;
  max-width: 1020px;
}

header {
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 1020px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

/* Search */
input {
  height: 46px;
  width: 100%;
  background: #2e2e2e;
  box-shadow: none;
  border: none;
  text-align: center;
  border-radius: 6px;
  outline: none;
  padding: 7px 14px;
  padding-left: 40px;
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
  caret-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

input:focus {
  background: rgba(46, 46, 46, 0.5);
  box-shadow:
    0 2px 3px rgba(0, 0, 0, 0.18),
    0 2px 2px rgba(0, 0, 0, 0.34);
}

.search {
  position: relative;
  margin: 10px 5px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 9px;
  width: 21px;
  height: 21px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.blocks {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.blocks div h2 {
  font-size: 1.2rem;
  color: #4dd0e1;
  padding-bottom: 10px;
}

.blocks div a {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blocks div h2.azul { color: #4dd0e1; }
.blocks div h2.verde { color: #81c784; }
.blocks div h2.rosa { color: #f06292; }
.blocks div h2.amarelo { color: #fff176; }
.blocks div h2.laranja { color: #ff8a65; }
.blocks div h2.laranja { color: #ff8a65; }

