@import url('fonts.css');

* { margin: 0; }

body {
  font-family: 'Mija', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 97.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
  color: #fff;
}

/* Search */
input {
  height: 46px;
  width: 100%;
  max-width: 1020px;
  background: #2e2e2e;
  box-shadow: none;
  border: none;
  text-align: center;
  border-radius: 6px;
  outline: none;
  padding: 7px 14px;
  padding-left: 40px;
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
  caret-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input:focus {
  background: rgba(46, 46, 46, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.18), 0 2px 2px rgba(0, 0, 0, 0.34);
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;
  width: 21px;
  height: 21px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 1020px;
}

.categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
  grid-gap: 5px;
  justify-content: center;
}

.categorias div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.categorias div h2 {
  font-size: 1.2rem;
  color: #4dd0e1;
  padding-bottom: 10px;
}

.categorias div a {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.categorias div.azul h2 { color: #4dd0e1; }
.categorias div.verde h2 { color: #81c784; }
.categorias div.rosa h2 { color: #f06292; }
.categorias div.amarelo h2 { color: #fff176; }
.categorias div.laranja h2 { color: #ff8a65; }
.categorias div.laranja h2 { color: #ff8a65; }

.main #other-content .purple h4,
.main #other-content .purple a:hover {
  color: #9575cd;
}

.main #other-content .indigo h4,
.main #other-content .indigo a:hover {
  color: #7986cb;
}
.main #other-content .foxxy h4,
.main #other-content .foxxy a:hover {
  color: #a1887f;
}

