* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html { transition: all 500ms ease-in-out; }

body {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  place-items: center;
  height: 100vh;

  font-family: "Gaegu", cursive;
  font-size: 17px;
  transition: background-color 300ms ease-in-out;
}

.container {
  display: flex;
  place-items: center;
  flex-direction: column;
  max-width: 900px;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
  width: 100%;
}

.cat { text-align: center; }
.theme-icon { cursor: pointer; }

.top, nav, footer {
  display: flex;
  justify-content: space-between; 
  padding: 18px;
  width: 100%;
}

#logo {
  width: 100%;
  height: auto;
  padding: 0 50px;
} 

/* h1,h2,h3,h4,h5,h6 { */
.title {
  font-weight: 700;
  font-size: 1.2em;
  padding: 7px;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: 0;
  border: 0;
}

a,
a > span {
  position: relative;
  text-decoration: none;
  line-height: 22px;
  transition: color 0.3s ease-in-out;
}

a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 0;
}

li {
  line-height: 20px;
  padding: 0;
  border: 0;
}

form {
  width: 100%;
  text-align: center;
}

input {
  font-family: "Gaegu", cursive;
  font-size: 1.3rem;
  background: none;
  transition: border 0.3s ease;
  /* caret-color: transparent; */
  text-align: center;
  border: 0;
  width: 70%;
  caret-color: transparent;
}

.input-icon {
  /* background-image: url('../img/icons/google.svg'), linear-gradient(to left, #777 0%, #fff 1px, #fff 100%); */
  background-size: 16px, 50%;
  background-position: center right; /* legacy browser support */
  background-position: center right 10px, center right 38px;
  background-repeat: no-repeat;
  /* Prevents text overlap on the icon */
  /* padding-right: 42px; */
  /* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%); */
}

/* Google, Youtube, DuckDuckGo, StackOverflow, Wikipedia, Reddit, ArchWiki */
/* <img height="32" width="32" src="https://unpkg.com/simple-icons@v4/icons/[ICON SLUG].svg" /> */
.input-google { background-image: url('../img/icons/google.svg'); }
.input-youtube { background-image: url('../img/icons/youtube.svg'); }
.input-duckduckgo { background-image: url('../img/icons/duckduckgo.svg'); }
.input-stackoverflow { background-image: url('../img/icons/stackoverflow.svg'); }
.input-wikipedia { background-image: url('../img/icons/wikipedia.svg'); }
.input-reddit { background-image: url('../img/icons/reddit.svg'); }
.input-archwiki { background-image: url('../img/icons/archwiki.svg'); }

.input-google-d { background-image: url('../img/icons/google-d.svg'); }
.input-youtube-d { background-image: url('../img/icons/youtube-d.svg'); }
.input-duckduckgo-d { background-image: url('../img/icons/duckduckgo-d.svg'); }
.input-stackoverflow-d { background-image: url('../img/icons/stackoverflow-d.svg'); }
.input-wikipedia-d { background-image: url('../img/icons/wikipedia-d.svg'); }
.input-reddit-d { background-image: url('../img/icons/reddit-d.svg'); }
.input-archwiki-d { background-image: url('../img/icons/archwiki-d.svg'); }

/* LINKS */
.effect {
  padding-top: 0;
}

.effect:before {
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
}

.effect:hover:before {
  transform: scaleX(0.85);
}

.invert { filter: invert(100%); }

/* SELECT */
select {
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  border: none;
  padding: 7px 10px;
  /* background: #ddd url(http://new.mitoo.co/assets/to_be_sorted/arrow_down.png) no-repeat 90% 50%; */
}

select::-ms-expand {
  display: none;
}

/* POPUP */
.hover { 
  display: block;
  position: relative;
}

.popup {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  border: 1px solid transparent;
  border-radius: 6px;
  height: 0px;
  padding: 0 12px;
  overflow: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 1;
}

.hover:hover .popup {
  padding: 12px 12px;
  height: auto;
  opacity: 1;
}

.hover .popup a {
  display: block;
}

/* FILTERS */
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

/* MEDIA QUERIES */
@media only all and (orientation: portrait) {
  body {
    font-size: 0.9em;
  }

  body, .links {
    width: 100%;
  }

  .cat {
    margin: 0;
    padding: 0;
  }
  
  nav {
    margin: 0 10px;
  }

  #logo {
    padding: 0;
  } 
}

