details div {
    font-size: .88rem;
}

details[data-popover] {
    display: inline;
    position: relative;
    cursor: pointer;
}

details[data-popover] p {
    margin: 1px;
    padding: 2px;
}

details[data-popover]>summary:focus {
    outline: none;
}

details[data-popover]>summary::-webkit-details-marker {
    display: none;
}

details[data-popover]>summary {
    list-style: none;
}

details[data-popover]>summary+* {
    position: absolute;
    display: inline-block;
    z-index: 1;
    border: solid 2px #141619;
    padding: 10px;
    background: #282c33;
    white-space: nowrap;
}

details[data-popover]>*+* {
    display: none;
}

details[data-popover="up"]>summary+* {
    bottom: calc(0.5rem + 100%);
    right: 50%;
    transform: translateX(50%);
}

details[data-popover="down"]>summary+* {
    top: calc(0.5rem + 100%);
    right: 50%;
    transform: translateX(50%);
}

details[data-popover="left"]>summary+* {
    right: calc(1rem + 100%);
    bottom: 50%;
    transform: translateY(50%);
}

details[data-popover="right"]>summary+* {
    left: calc(1rem + 100%);
    bottom: 50%;
    transform: translateY(50%);
}